<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">App de Biblioteca</h1>
    <%= link_to "Ver Autores", authors_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Ver Libros", books_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
